11). Get all employee detail from EmployeeDetail table whose "FirstName" not start 
    with any single character between 'a-p'

In [ ]:
SELECT * FROM EmployeeDetail WHERE FirstName REGEXP '^[^a-p]'

14). Get all employee detail from EmployeeDetail table whose "FirstName" 
   containing '%'. ex:-"Vik%as"

In [ ]:
SELECT * FROM EmployeeDetail WHERE FirstName LIKE '%[%]%'

18). Show "JoiningDate" in "dd mmm yyyy" format, ex- "15 Feb 2013"

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%d %b %Y') AS FormattedJoiningDate
FROM YourTableName;

19). Show "JoiningDate" in "yyyy/mm/dd" format, ex- "2013/02/15"

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%d %b %Y') AS FormattedJoiningDate
FROM YourTableName;

20). Show only time part of the "JoiningDate".

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%Y/%m/%d') AS FormattedJoiningDate
FROM YourTableName;

21). Get only Year part of "JoiningDate".

In [ ]:
SELECT YEAR(JoiningDate) FROM EmployeeDetail;

23). Get system date.

In [ ]:
SELECT NOW();

25). Get the first name, current date, joiningdate and diff between current date and 
    joining date in months

In [ ]:
SELECT 
    FirstName,
    CURDATE() AS `Current Date`,
    JoiningDate,
    TIMESTAMPDIFF(MONTH, JoiningDate, CURDATE()) AS `Total Months`
FROM EmployeeDetail;

27). Get all employee details from EmployeeDetail table whose joining year is 2013.

In [ ]:
SELECT *
FROM EmployeeDetail
WHERE YEAR(JoiningDate) = 2013;

28). Get all employee details from EmployeeDetail table whose joining month is 
Jan(1)

In [ ]:
SELECT *
FROM EmployeeDetail
WHERE MONTH(JoiningDate) = 1;

34). Select first name from "EmployeeDetail" table after removing white spaces from 
right side

In [ ]:
SELECT RTRIM(FirstName) AS FirstName FROM EmployeeDetail;

36). Display first name and Gender as M/F.(if male then M, if Female then F)

In [ ]:
SELECT FirstName, CASE
    WHEN Gender = 'Male' THEN 'M'
    WHEN Gender = 'Female' THEN 'F'
END AS Gender
FROM EmployeeDetail;

41) Select second highest salary from "EmployeeDetail" table.

In [ ]:
SELECT Salary
FROM EmployeeDetail
ORDER BY Salary DESC
LIMIT 1, 1;