## Type of Triangle

Link: https://www.hackerrank.com/challenges/what-type-of-triangle/problem?isFullScreen=true

In [ ]:
SELECT
CASE 
    WHEN A+B <= C OR B+C <= A OR A+C <= B THEN 'Not A Triangle'
    WHEN A = B AND B = C THEN 'Equilateral'
    WHEN A = B OR B = C OR A = C THEN 'Isosceles'
    ELSE 'Scalene'
END 
FROM TRIANGLES;

## The PADS

Link: https://www.hackerrank.com/challenges/the-pads/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

In [ ]:
SELECT CONCAT(Name,'(',LEFT(Occupation,1),')') 
FROM OCCUPATIONS ORDER BY Name;
SELECT CONCAT('There are a total of ',COUNT(*),' ',lower(Occupation),'s.') AS OccupationCount
FROM OCCUPATIONS GROUP BY Occupation ORDER BY OccupationCount,Occupation;

## OCCUPATIONS

Link: https://www.hackerrank.com/challenges/occupations/problem?isFullScreen=true&h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

In [ ]:
SELECT
    MAX(CASE WHEN Occupation = 'Doctor' THEN Name ELSE NULL END) AS Doctor,
    MAX(CASE WHEN Occupation = 'Professor' THEN Name ELSE NULL END) AS Professor,
    MAX(CASE WHEN Occupation = 'Singer' THEN Name ELSE NULL END) AS Singer,
    MAX(CASE WHEN Occupation = 'Actor' THEN Name ELSE NULL END) AS Actor
FROM (
    SELECT
        ROW_NUMBER() OVER (PARTITION BY Occupation ORDER BY Name) AS rn,
        Name,
        Occupation
    FROM OCCUPATIONS
) AS Subquery
GROUP BY rn
ORDER BY rn;

```sql
SELECT
    MAX(CASE WHEN Occupation = 'Doctor' THEN Name ELSE NULL END) AS Doctor,
    MAX(CASE WHEN Occupation = 'Professor' THEN Name ELSE NULL END) AS Professor,
    MAX(CASE WHEN Occupation = 'Singer' THEN Name ELSE NULL END) AS Singer,
    MAX(CASE WHEN Occupation = 'Actor' THEN Name ELSE NULL END) AS Actor
```

1. **SELECT:** This keyword starts the SELECT statement, which is used to retrieve data from the database.

2. **MAX(...):** This is an aggregate function. In this context, it's used to select the maximum value from a set of values. However, we're using it here in a unique way to achieve conditional aggregation.

3. **CASE WHEN ... THEN ... ELSE ... END:** This is a conditional statement. It checks the condition specified after `WHEN`. If the condition is true, it returns the value specified after `THEN`, otherwise, it returns the value after `ELSE`.

4. **Occupation = 'Doctor':** This is a condition that checks if the value of the 'Occupation' column is equal to 'Doctor'.

5. **Name ELSE NULL END:** If the condition `Occupation = 'Doctor'` is true, it returns the value of the 'Name' column. Otherwise, it returns `NULL`.

6. **AS Doctor, AS Professor, AS Singer, AS Actor:** These are column aliases. They rename the columns in the result set. Each conditionally aggregated column is aliased with its respective occupation.

```sql
FROM (
    SELECT
        ROW_NUMBER() OVER (PARTITION BY Occupation ORDER BY Name) AS rn,
        Name,
        Occupation
    FROM OCCUPATIONS
) AS Subquery
```

1. **FROM ( ... ) AS Subquery:** This part defines a subquery and gives it the alias "Subquery". A subquery is a query nested within another query. In this case, it generates a dataset with additional information for the pivoting process.

2. **ROW_NUMBER() OVER (...):** This is a window function. It assigns a unique sequential number to each row within a partition of the result set. The `PARTITION BY` clause divides the result set into groups based on the 'Occupation' column. The `ORDER BY` clause specifies the order within each partition.

3. **AS rn:** This assigns the result of the ROW_NUMBER() function to a column named 'rn' in the subquery.

4. **Name, Occupation:** These are the columns selected from the 'OCCUPATIONS' table to be used in the subquery.

```sql
GROUP BY rn
ORDER BY rn;
```

1. **GROUP BY rn:** This groups the rows from the subquery based on the 'rn' column. This is essential to ensure that the data is aligned properly for pivoting.

2. **ORDER BY rn:** This sorts the resulting rows by the 'rn' column in ascending order. This maintains the proper order when displaying the pivoted table.

In summary, this query uses conditional aggregation along with window functions to pivot the 'OCCUPATIONS' data. It assigns row numbers to each occupation group, and then uses the MAX function with CASE statements to display the names under the respective columns. The GROUP BY and ORDER BY clauses ensure the correct alignment and order of the pivoted data.