## Binary Search Tree
Link: https://www.hackerrank.com/challenges/binary-search-tree-1/problem?isFullScreen=true

```sql
SELECT 
    CASE 
        WHEN P IS NULL THEN CONCAT(N, ' Root')
        WHEN N IN (SELECT P FROM BST) THEN CONCAT(N, ' Inner')
        ELSE CONCAT(N, ' Leaf')
    END AS BSTtable
FROM BST
ORDER BY N ASC;
```

1. `SELECT` clause: This part of the code defines what will be displayed in the output of the query. It includes a `CASE` statement to determine the appropriate label for each node in a Binary Search Tree (BST).

2. `CASE` statement: The `CASE` statement is used to perform conditional logic in the SQL query. It evaluates different conditions and returns a specific value based on the satisfied condition. In this case, the `CASE` statement has three branches:

   - `WHEN P IS NULL THEN CONCAT(N, ' Root')`: This branch checks if the parent (`P`) column is NULL. If it is, it means the current node is the root of the tree. The result will be the node value (`N`) concatenated with the string " Root".
   
   - `WHEN N IN (SELECT P FROM BST) THEN CONCAT(N, ' Inner')`: This branch checks if the node value (`N`) is present in the result of a subquery that selects parent values (`P`) from the `BST` table. If the node value is found as a parent in the table, it means the current node is an inner node (not root or leaf). The result will be the node value concatenated with the string " Inner".
   
   - `ELSE CONCAT(N, ' Leaf')`: This branch handles cases where the above conditions are not met, meaning the current node is neither a root nor an inner node. Thus, it's considered a leaf node. The result will be the node value concatenated with the string " Leaf".

3. `FROM BST`: This specifies the source table for the query, which is named `BST`. It's assumed that the table represents a Binary Search Tree with columns `N` representing node values and `P` representing parent values.

4. `ORDER BY N ASC`: This clause sorts the result set in ascending order based on the `N` column, which represents node values.

Overall, the query generates a result set that assigns labels to each node in the Binary Search Tree based on its role within the tree (Root, Inner, or Leaf) and orders the nodes in ascending order of their values. The output will provide insights into the structure of the binary search tree.

## The Company

Link: https://www.hackerrank.com/challenges/the-company/problem?isFullScreen=true&h_r=next-challenge&h_v=zen

```sql
SELECT c.company_code, c.founder,
    COUNT(DISTINCT l.lead_manager_code),
    COUNT(DISTINCT sm.senior_manager_code),
    COUNT(DISTINCT m.manager_code),
    COUNT(DISTINCT e.employee_code)
FROM Company c, Lead_manager l, Senior_Manager sm, Manager m, Employee e 
WHERE c.company_code = l.company_code
    AND c.company_code = sm.company_code
    AND c.company_code = m.company_code
    AND c.company_code = e.company_code
GROUP BY c.company_code, c.founder
ORDER BY c.company_code;
```





1. `SELECT` clause: This part of the code specifies the columns to be included in the output. In this case, it selects the `company_code` and `founder` columns from the `Company` table, along with the counts of distinct codes for lead managers, senior managers, managers, and employees.

2. `FROM` clause: Here, the tables that are being used in the query are specified. The tables being used are `Company`, `Lead_manager`, `Senior_Manager`, `Manager`, and `Employee`.

3. `WHERE` clause: This clause defines the conditions that determine how the tables are joined together. It's used to filter the rows from the joined tables. In this case, the conditions ensure that the records are linked based on the `company_code` field. It's connecting records from the various managerial levels (`Lead_manager`, `Senior_Manager`, `Manager`, `Employee`) to their respective companies (`Company`).

4. `GROUP BY` clause: This clause groups the result set by `company_code` and `founder`. This means that the query will count the distinct codes for each managerial level and employee within each company. The result will be grouped according to the company and founder.

5. `ORDER BY` clause: This clause orders the final result set based on the `company_code` in ascending order.

Here's a breakdown of the counts being calculated:

- `COUNT(DISTINCT l.lead_manager_code)`: Count of distinct lead manager codes within each company.
- `COUNT(DISTINCT sm.senior_manager_code)`: Count of distinct senior manager codes within each company.
- `COUNT(DISTINCT m.manager_code)`: Count of distinct manager codes within each company.
- `COUNT(DISTINCT e.employee_code)`: Count of distinct employee codes within each company.

The overall result of this query will provide a breakdown of companies, their founders, and the counts of distinct codes for different levels of managers and employees associated with each company.