### 58. Write down the query to fetch EmployeeName & Project who has assign more than one project.

In [ ]:
SELECT E.EmployeeID, E.FirstName, P.ProjectName
FROM EmployeeDetail E
INNER JOIN ProjectDetail P ON E.EmployeeID = P.EmployeeDetailID
WHERE E.EmployeeID IN (
    SELECT EmployeeDetailID
    FROM ProjectDetail
    GROUP BY EmployeeDetailID
    HAVING COUNT(*) > 1
);

### 59. Write down the query to fetch ProjectName on which more than one employee are working along with EmployeeName

In [ ]:
SELECT P.ProjectName, E.FName
FROM ProjectDetails P
INNER JOIN EmployeeDetails E ON P.EmployeId = E.Id
WHERE P.ProjectName IN (
    SELECT ProjectName
    FROM ProjectDetails
    GROUP BY ProjectName
    HAVING COUNT(*) > 1
);

Completed till 77! Day 2

Day-3 (100 MCQs)

## SET - 10

### 100. Write down the query to print first letter of a Name in Upper Case and all other letter in Lower Case.(EmployDetail table)

In [ ]:
SELECT CONCAT(UPPER(SUBSTRING(FirstName, 1, 1)), LOWER(SUBSTRING(FirstName, 2))) AS FirstName

### 101. Write down the query to display all employee name in one cell seprated by ',' ex:-"Vikas, nikita,Ashish, Nikhil , anish"(EmployDetail table)

In [ ]:
SELECT GROUP_CONCAT(FirstName SEPARATOR ', ') AS `All Emp Name`
FROM EmployeeDetail;

### 102. Write down the query to get ProjectName and respective EmployeeName(firstname) which are working on the project

SELECT
    P2.ProjectName,
    GROUP_CONCAT(E1.FirstName SEPARATOR ', ') AS `Employee Name`
FROM
    EmployeeDetail E2
    INNER JOIN ProjectDetail P2 ON E2.EmployeeID = P2.EmployeeDetailID
    INNER JOIN EmployeeDetail E1 ON E1.EmployeeID = P2.EmployeeDetailID
GROUP BY P2.ProjectName;



1. **Data Sources**:
   - The primary data sources for this query are two tables: `EmployeeDetail` (aliased as `E2`) and `ProjectDetail` (aliased as `P2`).

2. **Joins**:
   - The query utilizes two `INNER JOIN` clauses to connect these tables:
     - The first `INNER JOIN` relates `EmployeeDetail` (E2) and `ProjectDetail` (P2) by matching the `EmployeeID` in `E2` to the `EmployeeDetailID` in `P2`. This establishes a connection between employees and the projects they are associated with.
     - The second `INNER JOIN` associates the `EmployeeDetail` table (E1) with `ProjectDetail` (P2) by linking `EmployeeID` in `E1` to the `EmployeeDetailID` in `P2`. This is necessary to extract the first names of employees.

3. **Aggregation**:
   - The `GROUP_CONCAT` function is employed to aggregate data. This function takes the first names from the `EmployeeDetail` table (E1) associated with each project in `ProjectDetail` (P2) and concatenates them into a single string, separated by commas and spaces. 

4. **GROUP BY Clause**:
   - To organize the results effectively, the `GROUP BY` clause groups the result set by the `ProjectName` from the `ProjectDetail` table (P2). This means that all records for a particular project are grouped together.

5. **Result Columns**:
   - The `SELECT` statement determines what is displayed in the result set. It includes two columns:
     - `P2.ProjectName`: This column displays the project names.
     - `GROUP_CONCAT(E1.FirstName SEPARATOR ', ') AS Employee Name`: This column displays the aggregated employee names for each project, separated by commas and spaces.

6. **Overall Logic**:
   - The query retrieves a list of project names from the `ProjectDetail` table (P2) and associates each project with the first names of employees working on that project.
   - It aggregates the employee names and ensures that each project is represented only once in the result set, with the employee names concatenated together.

So, the end result is a list of project names and the corresponding employee names for each project, all grouped neatly for easy analysis. This query leverages SQL's capabilities for joining tables and aggregating data to provide a meaningful summary of project and employee relationships.

SET 10 Completed!