##### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of structured data that is organized and stored in a way that enables efficient retrieval, management, and updating of the data. Databases are commonly used in applications such as customer relationship management (CRM), inventory management, and e-commerce, among others.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems (DBMS). The primary difference between them is the way they store and manage data.

SQL databases are relational databases, which means they store data in tables with predefined relationships between them. SQL databases use SQL as the primary language for querying and manipulating data. Some popular examples of SQL databases are MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

On the other hand, NoSQL databases are non-relational databases that do not use tables with predefined relationships. Instead, they store data in a variety of ways, such as key-value pairs, documents, or graphs. NoSQL databases are designed to handle large amounts of unstructured or semi-structured data that may not fit neatly into tables. Some popular examples of NoSQL databases are MongoDB, Cassandra, and Redis.

SQL databases are known for their reliability, stability, and the ability to handle complex queries. They are generally preferred for applications that require complex data relationships or transactions. NoSQL databases, on the other hand, are known for their scalability, flexibility, and ability to handle large volumes of unstructured data. They are generally preferred for applications that require high-performance and horizontal scaling.

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL that is used to define the structure and schema of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, and constraints. For example, the following CREATE statement creates a new table named "employees" with columns for employee ID, name, and department:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);

DROP: The DROP statement is used to delete existing database objects such as tables, views, indexes, and constraints. For example, the following DROP statement deletes the "employees" table:

DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects such as tables, views, indexes, and constraints. For example, the following ALTER statement adds a new column named "salary" to the "employees" table:

ALTER TABLE employees ADD COLUMN salary INT;

TRUNCATE: The TRUNCATE statement is used to delete all rows from a table without deleting the table structure. For example, the following TRUNCATE statement deletes all rows from the "employees" table:

TRUNCATE TABLE employees;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

 DML (Data Manipulation Language) is a subset of SQL that is used to manipulate data stored in a database. DML statements are used to insert, update, and delete data in tables.

INSERT: The INSERT statement is used to add new rows to a table. For example, the following INSERT statement adds a new row to the "employees" table with values for the "id", "name", "department", and "salary" columns:

INSERT INTO employees (id, name, department, salary)
VALUES (1, 'John Doe', 'Marketing', 50000);

UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following UPDATE statement changes the department for the employee with an "id" of 1 to "Sales":

UPDATE employees SET department = 'Sales' WHERE id = 1;

DELETE: The DELETE statement is used to remove existing rows from a table. For example, the following DELETE statement removes the employee with an "id" of 1 from the "employees" table:

DELETE FROM employees WHERE id = 1;

##### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. DQL statements are used to query tables and return specific data based on specified criteria.

The most commonly used DQL statement is SELECT. The SELECT statement is used to retrieve data from one or more tables in a database. It can be used to retrieve all rows and columns from a table or to retrieve specific columns based on specified criteria.

The basic syntax of the SELECT statement is as follows:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

##### Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or group of columns in a table that uniquely identifies each row in the table. Primary keys are used to ensure that each row in a table is unique and to provide a means of accessing specific rows in the table. Primary keys must have unique values and cannot contain NULL values. In most cases, a Primary Key is created using an ID column, which is an auto-incrementing integer column that assigns a unique value to each new row that is added to the table.

For example, consider a "students" table that contains information about students enrolled in a school. The "id" column in this table could be used as the Primary Key because it uniquely identifies each student in the table.

A Foreign Key is a column or group of columns in a table that refers to the Primary Key of another table. Foreign keys are used to establish relationships between tables and to enforce referential integrity. The Foreign Key column in one table must contain only values that are present in the Primary Key column of the other table.

For example, consider a "grades" table that contains information about the grades that students received on different assignments. The "student_id" column in this table could be used as a Foreign Key to establish a relationship with the "students" table. This relationship ensures that a student cannot be assigned a grade unless they are already present in the "students" table.

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Here is python and mysql connection code:

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ModuleNotFoundError: No module named 'mysql'

cursor(): The cursor() method is used to create a cursor object that can be used to execute SQL queries on a database. The cursor object allows you to traverse the rows returned by a query and perform operations on them.

execute(): The execute() method is used to execute an SQL query on a database using a cursor object. The query is passed as an argument to the execute() method. After executing the query, the cursor is positioned at the beginning of the result set, and you can use methods like fetchall() to retrieve the results of the query.

##### Q7. Give the order of execution of SQL clauses in an SQL query.

An SQL query is made up of several clauses that define various aspects of the query, such as what data to retrieve and how to filter and sort that data. The order of execution of these clauses is as follows:

1. SELECT: This clause specifies the columns or expressions that should be retrieved by the query.

2. FROM: This clause specifies the tables from which the data should be retrieved.

3. JOIN: This clause specifies how the tables should be joined together. This clause is optional, but if it is used, it must come after the FROM clause.

4. WHERE: This clause specifies the conditions that must be met for a row to be included in the result set. This clause is optional, but if it is used, it must come after the FROM and JOIN clauses.

5. GROUP BY: This clause specifies how the rows should be grouped together. This clause is optional, but if it is used, it must come after the FROM and JOIN clauses and before the ORDER BY clause.

6. HAVING: This clause specifies the conditions that must be met for a group to be included in the result set. This clause is optional, but if it is used, it must come after the GROUP BY clause.

7. ORDER BY: This clause specifies how the rows should be sorted. This clause is optional, but if it is used, it must come after the FROM and JOIN clauses and after the GROUP BY or HAVING clauses if they are used.

8. LIMIT: This clause specifies the maximum number of rows that should be returned by the query. This clause is optional, and if it is used, it must come last in the query.