### Definition

Window functions, also known as windowing or windowed functions, are a category of functions in relational database management systems (RDBMS) that perform calculations across a specified range of rows related to the current row within a query result set. These functions operate within a "window" of rows defined by an OVER() clause, allowing for more advanced and flexible analytical queries.

#### What a basic query of AVG can do

| student_id | student_name | marks |
|------------|--------------|-------|
| 1          | Alice        | 85    |
| 2          | Bob          | 92    |
| 3          | Carol        | 78    |
| 4          | David        | 89    |
| 5          | Emma         | 95    |

    -SELECT AVG(marks) AS Average_marks FROM student_marks;

| Average_marks |
|---------------|
| 87.8          |

#### If we use window function in this query

| student_id | student_name | marks |
|------------|--------------|-------|
| 1          | Alice        | 85    |
| 2          | Bob          | 92    |
| 3          | Carol        | 78    |
| 4          | David        | 89    |
| 5          | Emma         | 95    |

    -SELECT AVG(marks) OVER() FROM student_marks;

| Average_marks |
|---------------|
| 87.8          |
| 87.8          |
| 87.8          |
| 87.8          |
| 87.8          |

#### That's what window function do.

    -Suppose we don't want to see the average of all marks in every rows. Rather we want to see the average marks by each department

| student_id | student_name | marks | branch |
|------------|--------------|-------|--------|
| 1          | Alice        | 85    | A      |
| 2          | Bob          | 92    | B      |
| 3          | Carol        | 78    | A      |
| 4          | David        | 89    | B      |
| 5          | Emma         | 95    | A      |

    -SELECT *, AVG(marks) OVER(PARTITION BY branch) AS Average_marks FROM student_marks;

| student_id | student_name | marks | branch | Average_marks |
|------------|--------------|-------|--------|---------------|
| 1          | Alice        | 85    | A      | 86.0          |
| 2          | Bob          | 92    | B      | 90.5          |
| 3          | Carol        | 78    | A      | 86.0          |
| 4          | David        | 89    | B      | 90.5          |
| 5          | Emma         | 95    | A      | 86.0          |

### Example 01

    -Find all the students who have marks higher than the average marks of their respective branch using a window function

| student_id | student_name | marks | branch |
|------------|--------------|-------|--------|
| 1          | Alice        | 85    | A      |
| 2          | Bob          | 92    | B      |
| 3          | Carol        | 78    | A      |
| 4          | David        | 89    | B      |
| 5          | Emma         | 95    | A      |

    SELECT
        student_id,
        student_name,
        marks,
        branch,
        AVG(marks) OVER (PARTITION BY branch) AS avg_branch_marks
    FROM
        student_marks
    WHERE
        marks > AVG(marks) OVER (PARTITION BY branch);

| student_id | student_name | marks | branch | avg_branch_marks |
|------------|--------------|-------|--------|------------------|
| 2          | Bob          | 92    | B      | 90.5             |
| 5          | Emma         | 95    | A      | 86.0             |

### Example 02

    -SQL query using window functions to find the minimum and maximum marks for each student

#### Input table

| StudentID | Subject | Marks |
|-----------|---------|-------|
| 1         | Math    | 85    |
| 1         | Science | 92    |
| 2         | Math    | 78    |
| 2         | Science | 88    |
| 3         | Math    | 95    |
| 3         | Science | 90    |

    SELECT
        StudentID,
        Subject,
        Marks,
        MIN(Marks) OVER () AS MinMarks,
        MAX(Marks) OVER () AS MaxMarks
    FROM
        StudentMarks;

#### Output Table:

| StudentID | Subject | Marks | MinMarks | MaxMarks |
|-----------|---------|-------|----------|----------|
| 1         | Math    | 85    | 78       | 95       |
| 1         | Science | 92    | 78       | 95       |
| 2         | Math    | 78    | 78       | 95       |
| 2         | Science | 88    | 78       | 95       |
| 3         | Math    | 95    | 78       | 95       |
| 3         | Science | 90    | 78       | 95       |

### Example 03

    -SQL query using window functions to find the minimum and maximum marks for each branch

| StudentID | Branch   | Subject | Marks |
|-----------|----------|---------|-------|
| 1         | Science  | Math    | 85    |
| 2         | Arts     | Science | 88    |
| 3         | Commerce | Science | 90    |
| 1         | Science  | Science | 92    |
| 2         | Arts     | Math    | 78    |
| 3         | Commerce | Math    | 95    |

    SELECT
        StudentID,
        Branch,
        Subject,
        Marks,
        MIN(Marks) OVER (PARTITION BY Branch) AS MinMarks,
        MAX(Marks) OVER (PARTITION BY Branch) AS MaxMarks
    FROM
        StudentMarks
    ORDER BY StudentID;

| StudentID | Branch   | Subject | Marks | MinMarks | MaxMarks |
|-----------|----------|---------|-------|----------|----------|
| 1         | Science  | Science | 92    | 85       | 92       |
| 1         | Science  | Math    | 85    | 85       | 92       |
| 2         | Arts     | Science | 88    | 78       | 88       |
| 2         | Arts     | Math    | 78    | 78       | 88       |
| 3         | Commerce | Science | 90    | 90       | 95       |
| 3         | Commerce | Math    | 95    | 90       | 95       |