## AS derived_table_alias

In [ ]:
SELECT Employee
FROM (
  SELECT e.name AS Employee, e.salary AS salary, m.name AS managerName, m.salary AS managerSalary
  FROM Employee e
  JOIN Employee m ON e.managerId = m.id
  WHERE e.salary > m.salary
) AS derived_table_alias;

The "AS" keyword followed by a name (in this case, "derived_table_alias") is used in SQL to assign an alias to a table, subquery, or derived table.

Here's a breakdown of how it works:

The query within the parentheses represents a subquery or derived table. It is enclosed in parentheses and treated as a temporary table for the outer query.
To refer to this temporary table, we assign it an alias using the "AS" keyword. The alias is the name that we choose to represent the derived table.
The alias provides a shorthand or alternative name for the derived table. It helps simplify the SQL syntax and makes the query more readable.
Once the alias is assigned, we can refer to the derived table using its alias in the outer query. This includes selecting columns, performing joins, or applying conditions.
In the example query you provided, "AS derived_table_alias" assigns the alias "derived_table_alias" to the derived table created by the subquery. It allows you to treat the derived table as a regular table and reference it in the outer query.

By using aliases, you can improve the readability and maintainability of complex SQL queries, especially when dealing with multiple tables or subqueries.

## Find duplicates Query

In [ ]:
SELECT email as Email  from Person GROUP BY email
HAVING COUNT(*) > 1

## Write an SQL query to report all customers who never order anything.

In [ ]:

SELECT name as Customers from Customers WHERE id not in (
SELECT customerId from Orders
)

## Find duplicate emails and keep only one unique email from all the duplicates along with the other single unique emails

In [ ]:
DELETE p1
FROM Person p1
JOIN (
  SELECT email, MIN(id) AS min_id
  FROM Person
  GROUP BY email
  HAVING COUNT(*) > 1
) p2 ON p1.email = p2.email AND p1.id > p2.min_id;

## There is a id, date, tempurature given. You have to provide the id in the output whose tempurature is greater than the previous date of the date column

In [ ]:
SELECT id
FROM
(SELECT t1.id as id, t1.temperature as temperature , t2.temperature as previousDayTemperature
FROM Weather t1 
LEFT JOIN Weather t2
on t2.recordDate = DATE_SUB(t1.recordDate, INTERVAL 1 DAY)) AS WeatherCompare
WHERE temperature > previousDayTemperature

## Employee table: Employee id, name, supervisor and another table Bonus: employee id, Bonus Given. You have to find the employee id whose bonus is less than 1000 or null

In [ ]:
SELECT e.name as name,b.bonus as bonus
FROM Employee e
LEFT JOIN Bonus b on e.empId = b.empId
WHERE b.bonus < 1000 or b.bonus is NULL

## Write an SQL query to find the customer_number for the customer who has placed the largest number of orders.

In [ ]:
SELECT customer_number
FROM (
    SELECT customer_number, COUNT(*) AS order_count
    FROM Orders
    GROUP BY customer_number
) AS order_counts
ORDER BY order_count DESC
LIMIT 1;